<p id="notice"><%= notice %></p>

<p>
  <h2>Name:</h2>
  <%= @brewery.name %>
</p>

<p>
  <em>Established in <%= @brewery.year %></em>
</p>

<p>Total of <%= @brewery.beers.count %> beers.</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <p><%= link_to beer.name, beer %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>


